Sample Service SQL/.$bin/sqlAdapter.sqlAdapter.sqlAdapter/repository/wsdl/SchedulerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:stns1="urn:Services.NameOfService1.Classes"
                  xmlns:tns="urn:SchedulerService"
                  xmlns:http="http://schemas.xmlsoap.org/soap/http"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  name="SchedulerService"
                  targetNamespace="urn:SchedulerService">
   <wsdl:types>
      <xs:schema targetNamespace="urn:Services.NameOfService1.Classes">
         <xs:complexType name="employee">
            <xs:sequence>
               <xs:element name="fld_employeeid" type="xs:integer"/>
               <xs:element name="fld_name" type="xs:string"/>
               <xs:element name="fld_address" type="xs:string"/>
               <xs:element name="fld_age" type="xs:integer"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="SQLScheduler_operation1_Request">
      <wsdl:part name="empClass" type="stns1:employee"/>
   </wsdl:message>
   <wsdl:message name="SQLScheduler_operation1_Response">
      <wsdl:part name="empAge" type="xs:int"/>
      <wsdl:part name="empAddress" type="xs:string"/>
   </wsdl:message>
   <wsdl:portType name="SQLScheduler">
      <wsdl:operation name="operation1">
         <wsdl:documentation>[Add documentation here]</wsdl:documentation>
         <wsdl:input message="tns:SQLScheduler_operation1_Request"/>
         <wsdl:output message="tns:SQLScheduler_operation1_Response"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SQLScheduler_SOAPBinding" type="tns:SQLScheduler">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="operation1">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.NameOfService1.SQLAdapter.SQLScheduler"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.NameOfService1.SQLAdapter.SQLScheduler"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SchedulerService">
      <wsdl:port binding="tns:SQLScheduler_SOAPBinding" name="SQLScheduler">
         <soap:address location="http://localhost:51900/SchedulerService/SQLScheduler"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>